body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}


.table td, .table th{
  vertical-align: inherit;
}

.wrapper_ite {
    border-radius: 0 !important;
  }
:root {
    --popular-color: #00b3a0;
  }

.border-radius-0{
    border-radius: 0 !important;
}

.txt_while {
    color: #fff;
  }

.student-profile .card {
    border-radius: 10px;
}

.wrapper_ite .dis_flc .dis_flcite {
    background-color: #e9ecef00 !important;
  }
  

.dis_flc {
    display: flex;
    justify-content: center;
  }

  .wrapper_gt1 {
    height: 180px;
    background-color: var(--popular-color) !important;
  }

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}


.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}


.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

//Accordion
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}


.panelW3 {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  overflow: scroll;
  height: 280px;
}