@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$white: #f5f5f5;
$light: #e0c9cb;
$tan: #c3a1a0;
$pink: #d9aab7;
$rose: #ba7e7e;
$dark: #4e4e4e;

/* center container in the middle */
.p_detail{
 padding-top: 140px;
 padding-bottom: 100px;
}