    <link rel="stylesheet" href="/css/footer.css">
<!--Footer-->

<footer class="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">G<span class="link_menu position-relative">RIND</span></a></h3>
            <p class="links"><a href="#">TRANG CHỦ</a><strong> · </strong><a href="#">GIỚI THIỆU</a><strong> · </strong><a href="#">SẢN PHẨM</a><strong> · </strong><a href="#">HỖ TRỢ</a>
            <p class="company-name">GRIND.COM © 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
              <span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p class="link_menu position-relative"><span class="new-line-span">Nguyễn Văn Khối</span>TP HCM, VN</p>
            </div>
            <div>
              <i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-left link_menu position-relative"> +84 777 869 002</p>
            </div>
            <div>
              <i class="fa fa-envelope footer-contacts-icon"></i>
              <p class="link_menu position-relative"> <a href="#" target="_blank">dohuy8485@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4 class="link_menu position-relative d-inline-block">Giới thiệu</h4>
            <p>Chuyên bán lẻ các dụng cụ, thiết bị năng lượng mặt trời và máy lọc nước. Đảm bảo hàng uy tín, chất lượng</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
    
<a href="/me/shopping-cart" class="cart">
	<div class="icoCart">
		<lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_rgsilsi9.json"  background="transparent"  speed="1"  hover loop  autoplay></lottie-player>
    <span class="badge badge-danger rounded-circle badgecart ">{{session.cart.totalQty}}</span>
	</div>
</a>


        <script
      src='https://code.jquery.com/jquery-3.4.1.slim.min.js'
      integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'
      integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'
      integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'
    ></script>
</footer>
