	</div>
	<script>
		function toggleMenu(){
			let toggle = document.querySelector('.toggle-admin');
			let navigation = document.querySelector('.navigation-admin');
			let main = document.querySelector('.main-admin');
			toggle.classList.toggle('active');
			navigation.classList.toggle('active');
			main.classList.toggle('active');
		}
	</script>
</body>
</html>