
{{>header-admin}}

		<div class="cardBox">
			<div class="card-admin">
				<div>
					<div class="numbers-admin counter">1,042</div>
					<div class="cardName">Daily Views</div>
				</div>
				<div class="iconBox">
					<i class="fa fa-eye" aria-hidden="true"></i>
				</div>
			</div>
			
			<div class="card-admin">
				<div>
					<div class="numbers-admin counter">80</div>
					<div class="cardName">Sales</div>
				</div>
				<div class="iconBox">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				</div>
			</div>

			
			<div class="card-admin">
				<div>
					<div class="numbers-admin counter">208</div>
					<div class="cardName">Comments</div>
				</div>
				<div class="iconBox">
					<i class="fa fa-comment" aria-hidden="true"></i>
				</div>
			</div>

			<div class="card-admin">
				<div>
					<div class="numbers-admin">$ <span class="counter">6042</span></div>
					<div class="cardName">Earning</div>
				</div>
				<div class="iconBox">
					<i class="fa fa-usd" aria-hidden="true"></i>
				</div>
			</div>
		</div>

			<div class="details-admin">
				<div class="recentOders">
					<div class="cardHeader">
						<h2>Recent Orders</h2>
						<a href="#" class="btn-detail-admin">View All</a>
					</div>
					<table>
						<thead>
							<tr>
								<td>Name</td>
								<td>Price</td>
								<td>Payment</td>
								<td>Status</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Star Refrigerator</td>
								<td>$1200</td>
								<td>Paid</td>
								<td><span class="status deliverd">Deliverd</span></td>
							</tr>
							<tr>
								<td>Window Coolers</td>
								<td>$110</td>
								<td>Due</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>Speakers</td>
								<td>#620</td>
								<td>Paid</td>
								<td><span class="status return">Return</span></td>
							</tr>


							<tr>
								<td>Hp Laptop</td>
								<td>$6000</td>
								<td>Due</td>
								<td><span class="status inprogress">In Progress</span></td>
							</tr>
							<tr>
								<td>Name</td>
								<td>Price</td>
								<td>Payment</td>
								<td><span class="status inprogress">Status</span></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Star Refrigerator</td>
								<td>$1200</td>
								<td>Paid</td>
								<td><span class="status deliverd">Deliverd</span></td>
							</tr>
							<tr>
								<td>Window Coolers</td>
								<td>$110</td>
								<td>Due</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>Speakers</td>
								<td>#620</td>
								<td>Paid</td>
								<td><span class="status return">Return</span></td>
							</tr>
							<tr>
								<td>Hp Laptop</td>
								<td>$6000</td>
								<td>Due</td>
								<td><span class="status inprogress">In Progress</span></td>
							</tr>
							<tr>
								<td>Apple Watch</td>
								<td>#680</td>
								<td>Paid</td>
								<td><span class="status deliverd">Deliverd</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="recentCustomers">
					<div class="cardHeader">
						<h2>Recent Customers</h2>
					</div>
					<table>
						<tbody>
							<tr>
								<td style="width: 60px;">
									<div class="imgBx">
										<img src="../images/user/user.jpg" alt="anh">
									</div>
								</td>
								<td>
									<h4>Gia Huy<br><span>VN</span></h4>
								</td>
							</tr>
							<tr>
								<td style="width: 60px;">
									<div class="imgBx">
										<img src="../images/user/user.jpg" alt="anh">
									</div>
								</td>
								<td>
									<h4>Gia Huy<br><span>VN</span></h4>
								</td>
							</tr>
							<tr>
								<td style="width: 60px;">
									<div class="imgBx">
										<img src="../images/user/user.jpg" alt="anh">
									</div>
								</td>
								<td>
									<h4>Gia Huy<br><span>VN</span></h4>
								</td>
							</tr>
							<tr>
								<td style="width: 60px;">
									<div class="imgBx">
										<img src="../images/user/user.jpg" alt="anh">
									</div>
								</td>
								<td>
									<h4>Gia Huy<br><span>VN</span></h4>
								</td>
							</tr>
							<tr>
								<td style="width: 60px;">
									<div class="imgBx">
										<img src="../images/user/user.jpg" alt="anh">
									</div>
								</td>
								<td>
									<h4>Gia Huy<br><span>VN</span></h4>
								</td>
							</tr>
							<tr>
								<td style="width: 60px;">
									<div class="imgBx">
										<img src="../images/user/user.jpg" alt="anh">
									</div>
								</td>
								<td>
									<h4>Gia Huy<br><span>VN</span></h4>
								</td>
							</tr>
						</tbody>
					</table>	
				</div>
			</div>

			

		</div>
{{>footer-admin}}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script src="/lib/countup/jquery.countup.min.js"></script>
<script>
	$('.counter').countUp({
		'time': 2000,
		'delay': 10
	});
</script>
