<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gioithieu.css"> 
    <title>GIỚI THIỆU</title>
</head>
<body>
    {{>header}}
<div class="main">
    <!--breadcrumb-->
    <div class="card text-white wrapper_gt1">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ISbOsd.json"  background="transparent"  speed="0.3"  style="width: 200px; height: 180px; margin: 0 auto;" autoplay loop  ></lottie-player>
      <div class="card-img-overlay wrapper_ite m-5">
          <h5 class="card-title text-center">GIỚI THIỆU</h5>
          <nav aria-label="breadcrumb" class="dis_flc">
          <ol class="breadcrumb dis_flcite">
              <li class="breadcrumb-item"><a href="/" class="txt_while">TRANG CHỦ</a></li>
              <li class="breadcrumb-item active text-white" aria-current="page">GIỚI THIỆU</li>
          </ol>
          </nav>
      </div>
    </div>

    <!-- GIỚI THIỆU-->


<div class="container">
  <div class="row pt-5">
<!--Section: Content-->
<section>

  <!-- Section heading -->
  <div class="mb-5">
    <h4 class="txtCenter txtitemGT1 col-12">Công ty TNHH</h4>
    <h2 class="txtCenter txtitemGT2 col-12">GIA HUY</h2>
  </div>
  <!-- Section description -->
  {{!-- <p class="text-center w-sm-75 mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
    quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti voluptas ratione hic.</p> --}}

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 text-center text-lg-left">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <ul class="list-unstyled fa-ul mb-lg-0 mb-5">
        <li class="d-flex justify-content-center pl-4">
          <span class="fa-li pt-1"><i class="fas fa-share fa-lg text-primary"></i></span>
          <div>
            <h5 class="font-weight-bold">Marketing</h5>
            <p class="mb-4">Mona Media luôn tự hào là nhà phân phối các nhãn hiệu có tiếng trên thị trường và được các nhà sách, công ty, xí nghiệp chọn làm đối tác chiến lược.</p>
          </div>
        </li>
        <li class="d-flex justify-content-center pl-4">
          <span class="fa-li pt-1"><i class="fas fa-share fa-lg text-primary"></i></span>
          <div>
            <h5 class="font-weight-bold">Entertainment</h5>
            <p class="mb-4">Là một trong những doanh nghiệp có bề dày kinh nghiệm trên 10 năm chuyên cung cấp sỉ và lẻ các mặt hàng VPP với phong cách phục vụ tận tâm, nhanh chóng, uy tính. Lấy quyền lợi khách hàng đặt lên hàng đầu, chúng tôi luôn có những chính sách ưu đãi đặc biệt dành cho khách hàng với tiêu chí Văn Phòng Phẩm Siêu Rẻ.</p>
          </div>
        </li>
        <li class="d-flex justify-content-center pl-4">
          <span class="fa-li pt-1"><i class="fas fa-share fa-lg text-primary"></i></span>
          <div>
            <h5 class="font-weight-bold">Communication</h5>
            <p class="mb-4">Là một trong những doanh nghiệp có bề dày kinh nghiệm trên 10 năm chuyên cung cấp sỉ và lẻ các mặt hàng VPP với phong cách phục vụ tận tâm, nhanh chóng, uy tính. Lấy quyền lợi khách hàng đặt lên hàng đầu, chúng tôi luôn có những chính sách ưu đãi đặc biệt dành cho khách hàng với tiêu chí Văn Phòng Phẩm Siêu Rẻ.</p>
          </div>
        </li>
      </ul>

    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!--Section: Content-->
  </div>
</div>

    <!--CONTACT-->
    <div class="bg_f2f2f2">
    <div class="container wrapperContact">
        <div class="text-center pt-5 mb-3">
            <h3 class="txtContact">Contact us</h3>
        </div>
        <div class="row g-2">
            <div class="col-md-4">
                <div class="card card_contact_gt"> <img src="https://i.imgur.com/xuGJbnU.png" width="55">
                    <h5>ĐỊA CHỈ</h5>
                    <p>78/44 Nguyễn Văn Khối, P11</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card_contact_gt"> <img src="https://i.imgur.com/TNKflal.png" width="55">
                    <h5>Email</h5>
                    <p>Dohuy8485@gmail.com</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card_contact_gt"> <img src="https://i.imgur.com/pZLFSO3.png" width="55">
                    <h5>Phone</h5>
                    <p>9854959754</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>


{{>footer}}